.Card
{
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;

    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
}

.Card .Title
{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content
{
    flex: 1;
    background-color: rgb(175, 175, 175);
    color: black;
    padding: 20px;
}